body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.container {
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    width: 800px;
    height: 350px;
    border-radius: 9px;
    display: flex;
}

.info {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 35px 80px 10px 50px;
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
}

.info h1 {
    font-size: 30px;
    margin: 5px;
}

.info span {
    color: hsl(277, 64%, 61%);
}

.info p {
    font-size: 13px;
    line-height: 1.5;

    margin: 10px 30px 48px 10px;
    color: hsla(0, 0%, 100%, 0.6);
}

.tres {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: space-between;
}

.tres span {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    font-weight: normal;
}

.tres p {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.img {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    background-color: hsl(277, 75%, 54%);
    border-radius: 0px 9px 9px 0px;
}

.img img {
    height: 350px;
    width: 400px;
    border-radius: 0px 9px 9px 0px;
    opacity: 0.4;
}

@media (max-width: 768px) {
    body {
        height: 100vh;
        position: absolute;
    }

    .container {
        width: 600px;
        margin-left: 10px;
    }

    .info {
        width: 300px;
    }

    .info p {
        margin-bottom: 10px;
    }

    .img img {
        width: 300px;
    }
}
@media (max-width:425px){
    body{
        overflow-y: scroll;
        margin-top: 500px ;
        height: 100vh;
        margin-left: 20px;
       
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 370px;
        border-radius: 20px;
        

    }
    .info{
        width: 370px;
        height: 800px;
        margin: 0px;
        border-radius: 0px 0px 10px 10px;
        align-items: center;
        text-align: center;
    }
    .info h1{
        width: 300px;
        margin-top: 40px;
    }
    .info p{
        width: 250px;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    .info .tres{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .img{
        border-radius: 10px 10px 0px 0px;
        width: 370px;
    }    
    .img img{
        width: 370px;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        padding: 0px;

       
    }
}
@media (max-width:375px){
    body{
        margin-left: 10px;
    }
    .container{
        width: 340px;
    }
    .info{
        width: 340px;
    }
    .img{
        width: 340px;
    }
    .img img{
        width: 340px;
    }
}